@charset "utf-8";

@font-face {
	font-family: SFMono;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-style: italic;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-weight: bold;
	src: url(../style/font/SFMono-Bold.otf) format("opentype");
}

bold {
	font-weight: bold;
}

italic{
	font-family: SFMono;
	font-style: italic;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

a:link, a:visited {
    color: #cc181e;
    text-decoration: none;
    cursor: grab;
}

a:link:active, a:visited:active {
    color: #cc181e;
}

h1 {
	font-family: SFMono;
	font-size: 2.4vw;
}

h2 {
	font-family: SFMono;
	font-size: 1.2vw;
	font-weight: normal;
}

h3 {
	font-family: SFMono;
	font-size: 1vw;
	font-weight: normal;
}

hr {
	color: #555555;
  	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.25), rgba(0,0,0,0.75), rgba(0,0,0,0.25));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.25), rgba(0,0,0,0.75), rgba(0,0,0,0.25));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.25), rgba(0,0,0,0.75), rgba(0,0,0,0.25));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.25), rgba(0,0,0,0.75), rgba(0,0,0,0.25));
}

#footerBar {
	color: #016F54;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

label {
	font-size: 20px;
	float: right;
	padding-right: 2.5%;
}

input, textarea {
	float: left;
	margin-left: 5%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#nav {
	background: url(../images/titleCover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;

	width: 100%;
	height: 100vh;
  text-align: center;
}

  #titleSpacer {
    height: 70vh;
    width: 100%;
  }

  #titleWrapper {
    height: 80vh;
    width: 100%;
  }

  #FGBLogo {
    width: 15vw;
    padding-left: 5vw;
		padding-top: 5vh;
    float: left;
  }

  #BBCLogo {
    width: 15vw;
    padding-right: 5vw;
		padding-top: 5vh;
    float: right;
  }

    #title {
      font-family: SFMono;
			padding-top: 8vh;
      color: #EEEEEE;
      font-size: 6vw;
    }

    #subTitle {
      font-family: SFMono;
      color: #EEEEEE;
      font-size: 1.5vw;
		}
		
	#scroll {
		height: 1vw;
		style: inline-block;
		margin-top: 5vw;
		padding-top: 1vw;
		padding-bottom: 1vw;
		margin-left: 30vw;
		margin-right: 30vw;
		border-radius: 10px;
		border-style: solid;
		border-color: #FFFFFF;
		border-radius: 0.75vw;
		border-width: 0.15vw;
		font-family: SFMono;
    color: #EEEEEE;
    font-size: 1vw;
	}

#body {
	text-align: center;
	width:100%;
	background-color: #FFFFFF;
	padding-bottom: 40px;
}

	.bodySection {
		text-align: center;
		background-color: #FFFFFF;
		color: #016F54;
		border-radius: 2vw;
		border: 0.15vw solid #016F54;
		width: 84vw;
		padding: 3vw;
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.homeImage {
		width: 90%;
		pointer-events: none;
		border-radius: 20px;
	}

	.bodyImageLeft {
		border: 1px solid #016F54;
		width: 45%;
		margin-left: 4%;
		margin-bottom: 2vh;
		margin-right: 0.75%;
		margin-top: 2vh;
		float: left;
		border-radius: 15px;
	}

	.bodyImageRight {
		border: 1px solid #016F54;
		width: 45%;
		margin-right: 4%;
		margin-bottom: 2vh;
		margin-left: 0.75%;
		margin-top: 2vh;
		float: right;
		border-radius: 15px;
	}

	#teamTable {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.sponsor {
		width: 75%;
	}

#footer {
  background: #FFFFFF;

	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: SFMono;
  color: #016F54;
  font-size: 1vw;
}

	#footerLeft{
		text-align: center;
		float: left;
		width: 40%;
	}

	#footerRight {
		float: right;
		width: 60%;
	}
