@charset "utf-8";

@font-face {
	font-family: SFMono;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-style: italic;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-weight: bold;
	src: url(../style/font/SFMono-Bold.otf) format("opentype");
}

bold {
	font-weight: bold;
}

h1 {
	font-family: SFMono;
	font-size: 2.4vw;
}

h2 {
	font-family: SFMono;
	font-size: 1.5vw;
	font-weight: normal;
}

h3 {
	font-family: SFMono;
	font-size: 0.9vw;
	font-weight: normal;
}

hr {
	color: #555555;
  	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: SFMono;
	font-weight: normal;
	text-align: center;
}

label {
	font-size: 20px;
	float: right;
	padding-right: 2.5%;
	overflow: hidden;
}

input, textarea {
	float: left;
	margin-left: 5%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#nav {
	background: url(../images/titleCover.JPG);
	background-size: cover;
	background-position: center;

	width: 100%;
	height: 100vh;
  text-align: center;
}

  #titleSpacer {
    height: 70vh;
    width: 100%;
  }

  #titleWrapper {
    height: 20vh;
    width: 100%;
  }

  #FGBLogo {
    width: 15vw;
    padding-left: 5vw;
    float: left;
  }

  #BBCLogo {
    width: 15vw;
    padding-right: 5vw;
    float: right;
  }

    #title {
		overflow: hidden;
      font-family: SFMono;
      color: #EEEEEE;
      font-size: 6vw;
    }

    #subTitle {
		overflow: hidden;
      font-family: SFMono;
      color: #EEEEEE;
      font-size: 1.5vw;
    }

#body {
	text-align: center;
	width:100%;
	background-color: #FFFFFF;
	padding-bottom: 40px;
}

	.bodySection {
		text-align: center;
		background-color: #FFFFFF;
		color: #016F54;
		border-radius: 1vw;
		width: 78vw;
		padding: 0vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.homeImage {
		width: 90%;
		pointer-events: none;
		border-radius: 20px;
	}

	#teamTable {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

#footer {
  background: #F933FF;
	position: absolute;
	bottom: 0;

	text-align: center;
	width: 100%;
	height: 40px;
}


.button-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button-wrapper{
    padding: 6px;
	margin-top: 120px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    border: 6px solid #01a27a;
    transition: all .1s ease-in-out;
    z-index: 99;
}

.button-wrapper.active{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.button-wrapper:focus, .button-wrapper:hover{
    border: 12px solid #016F54;
    padding: 0px;
}

.button-wrapper, .button-wrapper > span{
    cursor: pointer;
}

.button-wrapper > span{
    min-width: 340px;
}

.button-inner{
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
    background: #01a27a;
    padding: 1em 2em;
    transition: all .1s ease-in-out;
}

.button-inner:focus, .button-inner:hover{
    background: #016F54;
    padding: 1em 2em;
    margin: 0;
}

.span1{
    display: inline;
}

.span2{
    display: none;
}

/* For Changing text on hover (Recomple sass plz)
.btn:focus .txt-a,
.btn:hover .txt-a { display: none; }
.btn:focus .txt-b,
.btn:hover .txt-b { display: inline; }
*/

/*# sourceMappingURL=style.css.map */
