@charset "utf-8";

@font-face {
	font-family: SFMono;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-style: italic;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-weight: bold;
	src: url(../style/font/SFMono-Bold.otf) format("opentype");
}

bold {
	font-weight: bold;
}

h1 {
	font-family: SFMono;
	font-size: 2.4vw;
}

h2 {
	font-family: SFMono;
	font-size: 1.5vw;
	font-weight: normal;
}

h3 {
	font-family: SFMono;
	font-size: 0.9vw;
	font-weight: normal;
}

hr {
	color: #555555;
  	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

label {
	font-size: 20px;
	float: right;
	padding-right: 2.5%;
}

input, textarea {
	float: left;
	margin-left: 5%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#nav {
	background: url(../images/titleCover.JPG);
	background-size: cover;
	background-position: center;

	width: 100%;
	height: 100vh;
  text-align: center;
}

  #titleSpacer {
    height: 70vh;
    width: 100%;
  }

  #titleWrapper {
    height: 20vh;
    width: 100%;
  }

  #FGBLogo {
    width: 15vw;
    padding-left: 5vw;
    float: left;
  }

  #BBCLogo {
    width: 15vw;
    padding-right: 5vw;
    float: right;
  }

    #title {
      font-family: SFMono;
      color: #EEEEEE;
      font-size: 6vw;
    }

    #subTitle {
      font-family: SFMono;
      color: #EEEEEE;
      font-size: 1.5vw;
    }

#body {
	text-align: center;
	width:100%;
	background-color: #FFFFFF;
	padding-bottom: 40px;
}

	.bodySection {
		text-align: center;
		background-color: #DDDDDD;
		color: #016F54;
		border-radius: 2vw;
		width: 78vw;
		padding: 1vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.homeImage {
		width: 90%;
		pointer-events: none;
		border-radius: 20px;
	}

	#teamTable {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

#footer {
  background: #F933FF;
	position: absolute;
	bottom: 0;

	text-align: center;
	width: 100%;
	height: 40px;
}
