@charset "utf-8";

@font-face {
	font-family: SFMono;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-style: italic;
	src: url(../style/font/SFMono-Light.otf) format("opentype");
}

@font-face {
	font-family: SFMono;
	font-weight: bold;
	src: url(../style/font/SFMono-Bold.otf) format("opentype");
}

bold {
	font-weight: bold;
}

h1 {
	font-family: SFMono;
	font-size: 2.4vw;
}

h2 {
	font-family: SFMono;
	font-size: 1.2vw;
	font-weight: normal;
}

h3 {
	font-family: SFMono;
	font-size: 1vw;
	font-weight: normal;
}

hr {
	color: #555555;
  	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

label {
	font-size: 20px;
	float: right;
	padding-right: 2.5%;
}

input, textarea {
	float: left;
	margin-left: 5%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
	text-align: center;
	padding-top: 10px;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

#homeHeadingWrap {
	background: url(../images/home.JPG);
	background-size: cover;
  background-position: center;

	height: 100vh;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*
@media screen and (max-height: 600px) {
	#homeHeadingWrap {
		height: calc(600px - 20px);
	}
}

@media screen and (min-height: 601px) and (max-height: 800px) {
	#homeHeadingWrap {
		height: calc(800px - 20px);
	}
}

@media screen and (min-height: 801px) and (max-height: 1000px) {
	#homeHeadingWrap {
		height: calc(1000px - 20px);
	}
}

@media screen and (min-height: 1001px) and (max-height: 1200px) {
	#homeHeadingWrap {
		height: calc(1200px - 20px);
	}
}

@media screen and (min-height: 1201px) {
	#homeHeadingWrap {
		height: calc(1400px - 20px);
	}
}
*/

#headingWrap {
	background: url(../images/header.JPG);
	background-size: cover;
	background-position: center;

	width: 100%;
	height: 200px;
}

	#navBarHome {
    padding-top: 60vh;
		width: 100%;
	}

	#navBar {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 50px;
		background: url(../images/homeCover.jpg);
		background-repeat: no-repeat;
		background-position: bottom;
		height: 125px;
	}

	#logoHome {
		padding-top: 75px;
		padding-left: 2.5%;
		width: 12.5vw;
		float: left;
		text-align: center;
	}

	#logo {
		padding-left: 5%;
		width: 10%;
		float: left;
		text-align: center;
	}

	#headingHome {
		width: 100%;
		height: 210px;

		font-family: SFMono;
		text-align: center;
		line-height: 220px;
		font-size: 6vw;
		color: #FFFFFF;
	}

	#heading {
		float: right;
		width: 72%;
		height: 110px;
		padding-right: 5%;

		font-family: SFMono;
		text-align: center;
		line-height: 220px;
		font-size: 100px;
		color: #FFFFFF;
	}


	#navHome {
		white-space: nowrap;
		text-align: center;
		padding-right: 5vw;
		width: 72vw;
		float: right;
		height: 40px;
	}

	#nav {
		white-space: nowrap;
		text-align: center;
		padding-right: 5%;
		width: 72%;
		float: right;
		height: 40px;
	}

		.navButtonActive, .navButton {
			display: inline-block;
			width: 10vw;
			text-align: center;

			padding-left: 2vw;
			padding-right: 2vw;
			padding-top: 5px;
			padding-bottom: 5px;

			font-family: SFMono;
			text-decoration: none;
			font-size: 1.25vw;
		}

		.navButton:active, .navButton:hover {
			width: 9.7vw;

			font-weight: bold;
			background-color: #FFFFFF;
			border-radius: 10px;
			color: #6E9859;
			border-style: solid;
			border-color: #FFFFFF;
			border-radius: 0.75vw;
			border-width: 0.15vw;
		}

		.navButtonActive {
			color: #FFFFFF;
			background: none;
			height: 1.55vw;

			border-style: solid;
			border-color: #FFFFFF;
			border-radius: 0.75vw;
			border-width: 0.15vw;
		}

		.navButton {
			color: #FFFFFF;
			background: none;
			height: 1.55vw;
		}

#body {
	text-align: center;
	background-color: #FFFFFF;
	padding-bottom: 40px;
}

	.homeImage {
		width: 85%;
		pointer-events: none;
		border-radius: 20px;
	}

	.bodySection {
		background-color: #F7F7F7;
		margin-left: 7.5%;
		margin-right: 7.5%;
		border-radius: 20px;
		width: 85%;
		font-family: SFMono;
		font-size: 16px;
		color: #6E9859;
	}

		#teamTable {
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
		}

			.cell {
				width: 20%;
				padding-left: 2.5%;
				padding-right: 2.5%;
			}

			.people {
				width: 95%;
				border-radius: 5px;
			}

			#contactForm {
				width: 50%;
			}

			#submit {
				float: none;
			}

			.sponsor {
				width: 50%;
			}

		.blogSection {
			border-radius: 5vh;
			background-color: #e0e0e0;
			padding: 2vh;
			align-content: center;
		}

		.blogTitle {
			width: 90%;
			padding-left: 5%;
			padding-right: 5%;
			height: 5vh;
		}

		.blogTitleLeft {
			float: left;
			width: 45%;
			padding-left: 5%;
		}

		.blogTitleRight {
			float: right;
			width: 45%;
			padding-right: 5%;
		}

		.blogTitleText {
			font-weight: bold;
		}

		.blogContent {
			width: 90%;
			padding-left: 5%;
			padding-right: 5%;
		}

#footer {
	position: absolute;
	bottom: 0;

	text-align: center;
	width: 100%;
	height: 40px;
}

	.footer {
		width: 100%;
		font-family: SFMono;
		height: 50px;
		color: #555555;
		text-decoration: none;
		text-align: center;
	}

	#footerLogo {
		float: left;
		width: 25%;
		padding-left: 5%;
		background-color:#FFFFFF;
		height: 50px;
	}

		#logoSmall {
			height: 2.5vw;
		}

	#footerRight {
		width: 65%;
		padding-right: 1%;
		padding-left: 1%;
		padding-top: 0.25vw;
		padding-bottom: 0.25vw;
		margin-right: auto;
		background-color: #EEEEEE;
		margin-left: 30%;
		height: 2.25vw;
		text-align: center;
		border-radius: 10px;
	}

		.navFooter {
			display: inline-block;
			width: 6vw;
			text-align: center;
			color: #555555;

			padding-left: 1.5vw;
			padding-right: 1.5vw;
			padding-top: 0.5vw;
			padding-bottom: 0.5vw;

			font-family: SFMono;
			text-decoration: none;
			font-size: 1vw;
		}

		.navFooter:hover {
			background-color: #CCCCCC;
			color: #6E9859;
			font-weight: bold;
		}
